@use "./base.scss";

// put your custom CSS here!

// Decrease font sizes
body {
  font-size: 0.9rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.05rem;
}

p, li, td {
  font-size: 0.9rem;
}

// Tighter line spacing
body {
  line-height: 1.4;
}

table {
  td, th {
    padding: 0.4rem 0.6rem;
    line-height: 1.3;
  }
}
